absl-py==2.1.0
anyio 
appnope
argon2-cffi
argon2-cffi-bindings 
asttokens
astunparse==1.6.3
async-lru 
attrs
Babel
backcall
beautifulsoup4 
bleach
Brotli
causal-learn==0.1.3.8
causalchamber==0.1.1
causaldag==0.1a135
CausalDisco==0.2.0
causalicp==0.1.1
certifi
cffi
charset-normalizer
comm 
contourpy==1.2.1
cycler==0.12.1
dataclasses==0.6
debugpy 
decorator 
defusedxml 
exceptiongroup 
executing 
fastjsonschema 
flatbuffers==24.3.25
fonttools==4.53.0
gast==0.6.0
ges==1.1.0
gies==0.0.2
gnies==0.3.3
Golem @ git+https://github.com/HendrikPlett/golem.git@c275639083a791b0718f05f9ef93ee7f7b083885
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.64.1
h5py==3.11.0
idna 
igraph==0.11.5
importlib_metadata 
importlib_resources==6.4.0
ipykernel 
ipython 
ipywidgets
jedi 
Jinja2 
joblib==1.4.2
json5 
jsonschema 
jsonschema-specifications 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
llvmlite==0.43.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.9.1
matplotlib-inline 
mdurl==0.1.2
mistune 
ml-dtypes==0.3.2
namex==0.0.8
nbclient 
nbconvert 
nbformat 
nest_asyncio
networkx==3.2.1
notears @ git+https://github.com/xunzheng/notears.git@eb06eaf08ca90501a8caa4062d62466747ba3cec
notebook 
notebook_shim 
numba==0.60.0
numpy==1.25.2
opt-einsum==3.3.0
optree==0.12.1
overrides 
packaging 
pandas==2.2.2
pandocfilters 
parso 
patsy==0.5.6
pexpect 
pickleshare 
pillow==10.3.0
platformdirs 
ply==3.11
progressbar2==4.4.2
prometheus-client
prompt_toolkit 
protobuf==4.25.3
psutil 
ptyprocess
pure-eval
pycparser
pydot==2.0.0
pygam==0.9.1
Pygments
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip
PySocks 
python-dateutil
python-igraph==0.11.5
python-json-logger
python-utils==3.8.2
pytz
PyYAML 
pyzmq 
qtconsole
QtPy
referencing 
requests
rfc3339-validator 
rfc3986-validator
rich==13.7.1
rpds-py
scikit-learn==1.5.0
scipy==1.11.4
seaborn==0.13.2
sempler==0.2.13
Send2Trash
sip 
six 
sniffio 
soupsieve
stack-data
statsmodels==0.14.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado
texttable==1.7.0
threadpoolctl==3.5.0
tinycss2 
tomli 
tornado 
tqdm==4.64.0
traitlets 
typing==3.7.4.3
typing_extensions
tzdata==2024.1
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client
Werkzeug==3.0.3
widgetsnbextension 
wrapt==1.16.0
zipp
